<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arc.s3.account.AccountDAO">




	<insert id="setWrite" parameterType="com.arc.s3.account.AccountDTO">
		insert into account values(bank_seq.nextval,#{accountName},#{rate},#{accountSale})
	</insert>

	<select id="getSelect" parameterType="com.arc.s3.account.AccountDTO" resultType="com.arc.s3.account.AccountDTO">
	select * from account where accountId=#{accountId}
	</select>



	<select id="getList" resultType="com.arc.s3.account.AccountDTO">
	select * from account order by accountId desc
	</select>


</mapper>