<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.arc.s3.member.MemberDAO">
    
    
    
    <insert id="memberJoin" parameterType="com.arc.s3.member.MemberDAO" >
    
    insert into member values (#{id},#{pw},#{name},#{phone},#{email})
    
    </insert>
    
 	 <select id="memberLogin" parameterType="com.arc.s3.member.MemberDAO" resultType="com.arc.s3.member.MemberDAO">
 	 
 	 select * from member where id=#{id} and pw=#{pw}
 	 
 	 </select>
    
<!--       <update id=""></update>
    
    <delete id=""></delete>
     -->
    
    
    
    
    
    
    
    
    </mapper>



	
