<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.arc.s3.member.MemberDAO">
    
    
    
    <insert id="memberJoin" parameterType="MemberDTO" >
    
    insert into member values (#{id},#{pw},#{name},#{phone},#{email})
    
    </insert>
    
 	 <select id="memberLogin" parameterType="MemberDTO" resultType="com.arc.s3.member.MemberDTO" >
 	 
 	 select * from member where id=#{id} and pw=#{pw}
 	 
 	 </select>
    
     
     <!-- 엘리아스로 conf에서 선언하고, 루트에 말해줬다 -->
      <update id="memberUpdate" parameterType="MemberDTO">
      
      update member set pw=#{pw}, name =#{name}, phone=#{phone},email=#{email} where id=#{id}
      
      </update>
    
    
    
  <delete id="memberDelete" parameterType="com.arc.s3.member.MemberDTO">
  
  Delete member where id=#{id}
  
  </delete>
    
    
    
    
    
    
    
    
    
    </mapper>



	
