<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="com.arc.s3.board.notice.NoticeDAO">
  
  
  	<select id="getList" parameterType="Pager" resultType="com.arc.s3.board.notice.NoticeDTO">
  	select * from
	(select rownum R, N.* from 
	(select * from notice where
	<choose>
		<when test ="kind=='Writer'">Writer</when>
		<when test ="kind=='Contents'">Contents</when>
		<otherwise>Title</otherwise>
	</choose>
	like '%'||#{search}||'%' and num>0 order by num desc) N)
	where R between #{startRow} and #{lastRow}	  
  	</select>
  
  
  	<select id="getTotalCount"  parameterType="Pager" resultType="java.lang.Long">
  	
 	select count(num) from notice
 	where
 	<choose>
 		<when test ="kind == 'Writer'">
 			writer
 		</when>
 		<when test ="kind == 'Contents'">
 			contents
 		</when>
 		<otherwise>
 		title
 		</otherwise>
 	</choose>
  		like '%'||#{search}||'%' and num>0 	
  	</select>
  
  
  <select id="getNum" resultType="java.lang.Long">
  	select notice_seq.nextval from dual
  </select>
  
  
  
  	<select id="getSelect" parameterType="com.arc.s3.board.BoardDTO" resultMap="noticeSelectResult">
  	select N.*, NF.*
  	from notice N left join noticeFiles NF
  	on N.num = NF.num
  	where N.num = #{num}
  	</select>
  	
  	<resultMap type="NoticeDTO" id="noticeSelectResult">
  	<!-- 프로퍼티엔 멤버변수 이름 -->
  	<!-- 1:1일땐 어소시에이션, 집합일땐 컬렉션 -->	
  		
  	<id property="num" column="num" /> 
  	<result property="title" column="title"/>
  	<result property="writer" column="writer"/>
  	<result property="regDate" column="regDate"/>
  	<result property="hit" column="hit"/>
  	<result property="contents" column="contents"/>
  	
	<collection property="boardFiles" javaType="java.util.List" ofType="BoardFileDTO" >
		<id  property="fileNum" column="fileNum" />
		<result property="fileName" column="fileName" />
		<result property="originName" column="originName" />
	
	
	</collection>	
  	
  	
  	</resultMap>
  	
  	
  	
  	
  
  	<insert id="setInsert" parameterType="com.arc.s3.board.BoardDTO">
  	insert into notice(num,title,writer,contents) values (#{num},#{title},#{writer},#{contents})
  	</insert>
  	
  	
  	<insert id="setFileInsert" parameterType="BoardFileDTO">
  	
  		insert into noticeFiles values(file_seq.nextval,#{num},#{fileName},#{originName})
  	</insert>
  	
  	
  	
  
  	 <update id="setUpdate" parameterType="com.arc.s3.board.BoardDTO">
 	 update notice set title=#{title}, contents=#{contents} where num=#{num}
 	 </update>
  
  
  	<delete id="setDelete" parameterType="com.arc.s3.board.BoardDTO" >
  	delete notice where num=#{num}
  	</delete>
  
  
  </mapper>  