<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="com.arc.s3.notice.NoticeDAO">
  
  
  	<select id="getList" parameterType="Pager" resultType="com.arc.s3.notice.NoticeDTO">
  	select * from
	(select rownum R, N.* from 
	(select * from notice order by num desc) N)
	where R between #{startRow} and #{lastRow}	  
  	</select>
  
  
  	<select id="getTotalCount"  resultType="java.lang.Long">
  	
 	select count(num) from notice
  	
  	</select>
  
  
  
  
  
  
  	<select id="getSelect" parameterType="com.arc.s3.notice.NoticeDTO" resultType="com.arc.s3.notice.NoticeDTO">
  	select * from notice where num = #{num}
  	</select>
  
  	<insert id="setInsert" parameterType="com.arc.s3.notice.NoticeDTO">
  	insert into notice(num,title,writer,contents) values (notice_seq.NEXTVAL,#{title},#{writer},#{contents})
  	</insert>
  
  	 <update id="setUpdate" parameterType="com.arc.s3.notice.NoticeDTO">
 	 update notice set title=${title}, contents=${contents} where num=${num}
 	 </update>
  
  
  
  </mapper>  