<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.arc.s3.board.qna.QnaDAO">



	<select id="getList" resultType="QnaDTO" parameterType="Pager">

		select * from
		(select rownum R, Q.*
		from (select * from qna order by ref
		desc, step asc) Q)
		<!-- where R between #{startRow} and #{lastRow} -->

	</select>



	<insert id="setInsert" parameterType="com.arc.s3.board.BoardDTO">
	
		<!-- 시퀀스 실행 결과를 미리 넘에 넣어줘라 ~ 비포 에프터는 저 인서트문 쿼리 전 후 언제 할거냐 정해주는거-->
		<selectKey keyProperty="num" resultType="java.lang.Long" order="BEFORE">
			select file_seq.nextval from daul
		</selectKey>
	
		insert into qna
		values(#{num},#{title},#{writer},#{contents},sysdate,0,qna_seq.currval,0,0)
	</insert>


	<select id="getSelect" parameterType="BoardDTO"
		resultMap="qnaSelectResult">

		select Q.*,QF.*
		from qna Q left join qnaFiles QF
		on
		Q.num=QF.num
		where Q.num=10

	</select>

	<resultMap type="QnaDTO" id="qnaSelectResult">
				
  	<id property="num" column="num" /> 
  	<result property="title" column="title"/>
  	<result property="writer" column="writer"/>
  	<result property="regDate" column="regDate"/>
  	<result property="hit" column="hit"/>
  	<result property="contents" column="contents"/>
  	
	<collection property="boardFiles" javaType="java.util.List" ofType="BoardFileDTO" >
		<id  property="fileNum" column="fileNum" />
		<result property="fileName" column="fileName" />
		<result property="originName" column="originName" />
	
	
	</collection>	
  	
	
	</resultMap>




	<update id="setHitUpdate" parameterType="BoardDTO">
		update qna set hit=hit+1
		where num=#{num}
	</update>


	<update id="setReplyUpdate" parameterType="QnaDTO">
		update qna set step=
		step+1 where ref=#{num} and step> #{step}
	</update>

	<update id="setUpdate" parameterType="BoardDTO">

		update qna set
		title=#{title}, contents=#{contents} where num=#{num}
	</update>

	<insert id="setReply" parameterType="QnaDTO">
		insert into qna
		values(qna_seq.nextval,#{title},
		#{writer},#{contents},sysdate,0,#{ref},#{step},#{depth})
	</insert>

		<insert id="setFileInsert" parameterType="BoardFileDTO">
  	
  		insert into qnaFiles values(file_seq.nextval,#{num},#{fileName},#{originName})
  	</insert>

	<delete id="setDelete" parameterType="BoardDTO">
		delete qna where num=#{num}
	</delete>


</mapper>